.tic-tac-toe-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.tic-tac-toe-container h2{
    margin-top: 10px;
}
.row {
    display: flex;
}

.square {
    height: 100px;
    width: 100px;
    border: 1px solid rgb(18, 14, 14);
    margin: 2px;
    font-size: 40px; 
}k
.btn{
    padding: 5px 20px ;
    border: none;

}
