.load-more-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    
}

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    gap: 10px;
    padding: 10px;
    width: 270px;
}
.button-container{
    display: flex;
    /* flex-direction: di; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    padding-bottom:20px;
}
.btn{
    padding: 10px 20px;
    background-color: white;
    font: bolder;
    font-size: larger;
}