.wrapper {
    display: flex;
    height: 100vh;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrapper button {
    background-color: #ba8721;
    /* background-color: rgb(123, gr23een, blue); */
    columns: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold ;
    font-size: 20px;    
    cursor: pointer;
}

.accordian {
    width: 500px;
}

.item {
    background-color: #c49028;
    margin-bottom: 10px;
    padding: 2px 2px;
}
.title {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.content {
    color: #6a1515;
    height: auto;
}
