.container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 450px;
}
.current-image{
    height: 100%;
    width: 100%;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    
}

.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}

.circle-indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.current-indicator{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
}

.hide-current-image{
    display: none;
}

.inactive-indicator{
    /* display: none; */
    background-color: gray;
}