.github-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 500px;
    padding: 20px;
    gap: 20px;
}
.avatar{
    height: 100px;
    width: 100px;
}

