.container{
    /* background-color: rgb(223, 150, 150); */
    display: flex;
    flex-direction: column;
    /* justify-content:space-around */
    align-items: center;
    height: 50vw;
    margin-top: 20px;
}

.gen-btns button {
    margin: 20px;
    padding: 10px 20px;

}